@font-face {
    font-family: 'inheria-sans';
    src: url(./fonts/InriaSans-Regular.ttf);
}

@font-face {
    font-family: 'inheria-sans-bold';
    src: url(./fonts/InriaSans-Bold.ttf);
}

h2{
    font-family: 'inheria-sans-bold';
}

a{
    text-decoration: none;
    color: black;
    transition: 0.5s ;
    font-family: 'inheria-sans';
}


/* CSS Login & Register */
.img-centering{
    margin-top: 50px;
}

.centering{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-1{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}

.skipper{
    text-align: right;
}

.email-form{
    border-bottom: 1px solid #808080;
    transition: 0.5s;
    margin-top: 50px;
}

.forgot-pass{
    text-align: right;
    font-family: 'inheria-sans';
    font-size: small;
    margin-top: 10px;
}

.mt-10{
    margin-top: 30px;
}

.password-form{
    border-bottom: 1px solid #808080;
    transition: 0.5s;
    margin-top: 10px;
}

.form-control:focus{
    box-shadow: none;
}

.box{
    height: 500px;
    width: 350px;
    border: 2px solid;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
}

.box-button1{
    height: 40px;
    width: 100%;
    background-color: black;
    transition: 0.3s;
    text-align: center;
    border-radius: 50px;
    padding-top: 5px;
}

.box-button1 p {
    color: #fff;
    font-size: larger;
}

.box-button1:hover{
    background-color: #fff;
    border: 1px solid black;
    border-radius: 50px;
}

.box-button1 p:hover{
    color: black;
}

.box-button2{
    height: 40px;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    transition: 0.3s;
    text-align: center;
    border-radius: 50px;
    padding-top: 5px;
}

.box-button2 p {
    color: black;
    font-size: larger;
}

.box-button2:hover{
    background-color: black;
    border-radius: 50px;
}

.box-button2 p:hover{
    color: white;
}

/* CSS Home */
.box-search{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
}

.col{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-logo{
    width: 200px;
    height: 50px;
}